<div class="task" [class.checked]="isChecked" [ngClass]="{'important': task.type == 1,'Task': task.type == 0, 'not-forget': task.type == 2}">
    <div class="header">
        <div class="title">
            <h3>{{task.title}}</h3>
            <fa-icon [icon]="faPenToSquare" (click)="goToEditTask(task)" id="edit"></fa-icon>
        </div>
        <div id='buttons'>
            <div *ngIf="isChecked; else checkbox" id="completed">
                <span>Completed</span>
                <input type="checkbox" (click)="checked(task)" checked style="cursor: pointer; border: none">
            </div>
            <ng-template #checkbox>
                <input type="checkbox" (click)="checked(task)" style="cursor: pointer; border: none">
            </ng-template>
            <fa-icon [icon]="faTrashCan" id="trash" (click)="onDelete(task)"></fa-icon>
        </div>
    </div>
    <p style="font-size: 15px">{{task.text}}</p>
    <hr>
    <div class="dates">
        <p>Created on <em>{{task.day}}</em> at <em>{{task.time}}</em></p>
        <div *ngIf="task.reminder && (expireDate() > today) && !equal()">
            <p>Final date: <em>{{task.expire | date:'dd/MM/yy'}}</em> </p>
        </div>
        <div *ngIf="task.reminder && equal()">
            <p>This task expires <strong>today!</strong></p>
        </div>
        <div *ngIf="task.reminder && isLate()">
            <p><strong>Expired </strong><em>{{daysLate()}} </em>days ago</p>
        </div>
    </div>
</div>
