<div class="task" [class.checked]="isChecked" [ngClass]="{reminder: task.reminder}">
    <div class="header">
        <div class="title">
            <h3>{{task.title}}</h3>
            <fa-icon [icon]="faPenToSquare" [routerLink]="['/editTask', task.id]" id="edit"></fa-icon>
        </div>
        <div id='buttons'>
            <div *ngIf="isChecked; else checkbox" id="completed">
                <span>Completed</span>
                <input type="checkbox" (click)="checked()" checked style="cursor: pointer;">
            </div>
            <ng-template #checkbox>
                <input type="checkbox" (click)="checked()" style="cursor: pointer;">
            </ng-template>
            <fa-icon [icon]="faTrashCan" id="trash" (click)="onDelete(task)"></fa-icon>
        </div>
    </div>
    <p>{{task.text}}</p>
    <p>Created on <span style="color:#ae221a">{{task.day}}</span> at <span style="color:#e94531">{{task.time}}</span></p>
</div>
