.task{
    display:flex;
    flex-direction: column;
    background-color: #2b2b2b;
    border-radius: 20px;
    border: 1px solid #f2f3f7;
    width: 400px;
    overflow:hidden;
    padding: 15px;
    margin-top: 20px;
    row-gap: 20px;
    cursor: pointer;
}

.task.reminder{
    border-left: 3px solid #e94531;
}
.checked{
    display:flex;
    flex-direction: column;
    background-color: #2b2b2b;
    border-radius: 20px;
    border: 1px solid #f2f3f7;
    width: 400px;
    overflow:hidden;
    padding: 15px;
    margin-top: 20px;
    row-gap: 20px;
    opacity: 50%;
    cursor: pointer;
}

.checked .header h3{
    text-decoration: line-through;
}

.checked p{
    text-decoration: line-through;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3{
    font-size: 25px;
}

#completed{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px; 
}
