<div class="task" [class.checked]="isChecked">
    <div class="header">
        <h3>{{task.text}}</h3>
        <div *ngIf="isChecked; else checkbox" id="completed">
            <span>Completed</span>
            <input type="checkbox" (click)="checked()" checked style="cursor: pointer;">
        </div>
        <ng-template #checkbox>
            <input type="checkbox" (click)="checked()" style="cursor: pointer;">
        </ng-template>
        
    </div>
    <p>Created on <span style="color:#ae221a">{{task.day}}</span> at <span style="color:#e94531">{{task.time}}</span></p>
</div>
