.btn:hover{
    outline: 2px solid white;
}
.btn{
    background-color: #e94531;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px
}
